*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    height: 800px;
    width: 1278px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
    list-style: none;
}
ul{
    display: flex;
}
a{
    text-decoration: none;
}
nav{
}

